<div class = "peep_owl">
</div>
<div class = "container-fluid span12">
  <div class="span5 offset3">
    <div class="form-actions">
		<h1>I Remember You!</h1>
		<p>Log in below.</p>
		<%= form_tag session_path, :method => :post do %>
		    <%= text_field_tag :email, params[:email], placeholder: "E-mail Address", class: "input-block-level" %>
	    	<%= password_field_tag :password, '', placeholder: "Password", class: "input-block-level" %>
		    <%= submit_tag 'Login', class: 'btn' %>
		<% end %>
    </div>
  </div>
</div>
