
<ul class = "thumbnails">
	<% @random_user.each do |user| %>
	<li class = "span4">
		<div class = "thumbnail">
			<img src = "<%=user.avatar.url(:thumb) %>" >
			<%= user.name %>
			<h4><%=@samplename%></h4>
			<% end %>
		</div>
	</li>
</ul>

