$fontCore: 'Source Sans Pro', sans-serif;

$yellow: #DBD518;
$yellowOwl: #fec128;
$brown: #2c1c0d;
$brownOwl: #744a23;
$green: #8CA93E;
$greenDark: #789136;
$beige: #F6FA9C;
$grey: #383530;
$greyLight: #F5F5F5;
$blue: #53777a;
$blueLight: #3DA9A4;
$pink: #EE6557


