	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require application/layout
 *= require_tree .
 */

@import "variables";
.body {
	background-color: $greyLight;
}

.page_title {
	color: $grey; 
	font-size: 70px;
}

.page_title.adj {
	margin-left: -94px;
	margin-top: 29px;
	font-size: 3em;
}

.navbar .navbar-inner .nav{
	margin: 18px 32px 0 0;
}

.nav li {
	line-height: 30px;
}

.navbar {
  .nav > li.selected > a{
    background-color: none;
    color: $blueLight;
  }
  .navbar-inner {
    background-color: $greyLight;
    background-image: none;
    border: none;
    box-shadow: none;
    a {
    font-size:20px;
    text-shadow: none !important;
    }
  }
}

.navbar-inner .pull-right {
	padding-right: 50px;
	margin-top: 29px;
}

.hootext{
	float: left;
	// border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-top: -30px;
	margin-left: 65px;
	text-align: center;

}

.logo{
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 200;
  margin-left:50px;
  margin-top:20px;
  color: #777777;
  text-shadow: 0 1px 0 white;
  background-image: url('/assets/owlgif.gif'); 
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden; 
  width:35px;
  height:41px;

}
.container {
	// padding-top: 10px;
}

.dropdown_wrapper {
	height: 40px;
}

select#cardview {
	width: 50px;
	// float: right;
	border-radius: 0;
}

.btn {
  color: $pink;
}

.btn .right{
	foat: right;
}

// cardselector
input[type="submit"].dropdown_submit {
    width: 50px;
    padding-left: 0px;
}

// media queries
@media all and (max-width: 769px) {
 body {
  .navbar li{
    line-height: 10px;
  }
}
}
