/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require application/layout
 *= require_tree .
 */

@import "variables";

.body {
	background-color: $green;
}

.page_title {
	color: $grey; 
	font-size: 70px;
	margin-top: 50px;
}

.page_title.adj {
	margin-left: -70px;
	margin-top: 29px;
}

.nav li {
	line-height: 30px;
}

.navbar {
  .navbar-inner {
    background-color: $grey;
    background-image: none;
    a {
    font-size:20px;
    text-shadow: none !important;
    }
  }
}

.navbar-inner .pull-right {
	padding-right: 50px;
	margin-top: 5px;
}

.logo{
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 200;
  margin-left:50px;
  margin-top:5px;
  color: #777777;
  text-shadow: 0 1px 0 white;
  background-image: url('/assets/owlgif.gif'); 
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden; 
  width:35px;
  height:41px;

}
.container {
	padding-top: 40px;
}

.dropdown_wrapper {
	height: 40px;
}

#cardview {
	width: 50px;
	float: right;
}

input[type="submit"].dropdown_submit {
    width: 50px;
    padding-left: 0px;
}

.dropdown_submit {
	cursor:pointer; 
	padding:5px 25px; 
	background:#35b128; 
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
		box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#f3f3f3;
	font-size:1.1em;
	float: right;

&:hover, &:focus{
	background-color :#399630; /*background darker*/
	/*reduce the drop shadow size for pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);}

}