/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require application/layout
 *= require_tree .
 */

$green: #8CA93E;
$yellow: #fec128;
$brown: #2c1c0d;
$brownOwl: #744a23;
$greyOwl: #f7f6f4;
$grey: #FBFBFB;
$yellow: #dbd53d;
$red: #AE2B2B;
$blue: #53777a;
$black: #111315;
$greyDark: #3F3E43;
$greyMute: #2c2c2c;
$textColor: #383530;

.body {
	background-color: $green;
	/*background-color: #86A23A;*/
	/*background-color: #C3EF85;*/
	 /*background: url('/assets/bgpattern.jpg') repeat;*/
}

h1.page_title {
	color: #383530; 
	/*text-shadow: 1px 1px #FBFBFB;*/
	font-size: 70px;
	margin-top: 20px;
}

.nav li {
	line-height: 30px;
}

.navbar {
  .navbar-inner {
    background-color: #383530;
    background-image: none;
  }
}

.navbar-inner .pull-right {
	padding-right: 50px;
	margin-top: 5px;
}

.logo{
  float: left;
  display: block;
  padding: 10px 20px 10px 80px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 white;
}
.container {
	/*outline: black solid 1px;*/
	padding-top: 50px;
}

.container1 {
	/*outline: blue solid;*/
}

.dropdown_wrapper {
	/*border: 1px yellow solid;*/
	height: 40px;
}

#cardview {
	/*border: blue solid 1px;*/
	width: 50px;
	float: right;
}

input[type="submit"].dropdown_submit {
    width: 50px;
    padding-left: 0px;
}

.dropdown_submit {
	cursor:pointer; 
	padding:5px 25px; 
	background:#35b128; 
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
		box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:#f3f3f3;
	font-size:1.1em;
	float: right;
}

.dropdown_submit:hover, .dropdown_submit:focus{
	background-color :#399630; /*background darker*/
	/*reduce the drop shadow size for pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);

}