/*// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@import "variables";

.content-wrap {
	width: 1000px;
	margin: 0 auto;
}

.listed {
	position: relative;
  	border-radius: 10px;
  	background: rgba(251, 251, 251, 0.3);
	   -moz-box-shadow:    3px 3px 5px 3px #D3D3D3;
  	 -webkit-box-shadow: 3px 3px 5px 3px #D3D3D3;
  	 box-shadow:         0 4px 9px -6px #3F3E43;
}

.event_avatar {
	border-radius: 50%;
}

.event_title {
	font-size: 3em;
	padding-top: 37px;
	color: #383530;
}

.event_icon {
	width: 104px;
	height: 104px;
	padding-top: 8%;
	margin: 0 auto;
}

.cont {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
    img {
      max-width: 100%;
      max-height: 100%;
        .wide {height: auto;}
        .tall {width: auto;}
  }
}

/*.cont img.wide {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.cont img.tall {
	max-height: 100%;
	max-width: 100%;
	width: auto;
}*/


/* Create New Events Page Style*/
.form_wrapper {
	margin-left: 55px;
}

.form-actions {
  margin-top: 30px;
}

.create_event {
	width: 50%;
}




