/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@import 'variables';
.play {
	width: 100%;
	height: 20px;
	border: 1px solid black;	
}


/*All Users Index Page*/
.peep_owl {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	z-index: 3;
	background-image: url("/assets/owl.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: 100px 117px;
	margin-bottom: -55px;
}

.pointPlus {
	position: absolute;
	display: none;
	font-size: 20px;
	color: $yellowOwl;
}

.pointMinus {
	position: absolute;
	display: none;
	font-size: 20px;
	color: $yellowOwl;
}

.correct {
	color: #53777a;
}

.thumbnail {
  	width: 100%;
  	position: relative;
  	border: none;
  	box-shadow: none;
}

.imgcontainer{
	width:250px;
	margin:0 auto;
	height:250px;
	margin-top:32px;
	vertical-align: middle;
	background-size: 250px 250px;
	border-radius:50%;
	background-repeat: no-repeat;
}

.border {
	width:250px;
	height:250px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5) inset,0 0 2px 1px rgba(0,0,0,0.05) inset;
	border-radius:50%;
	z-index: 100;
}

.faceis{
	/*position:absolute;*/
	cursor:pointer;	
	width:250px;
	height:250px;
	border-radius:50%;
	overflow: hidden;
	z-index: -100;
  	&:hover {
  		-webkit-transform: rotate(8deg); 
		-moz-transform: rotate(8deg); 
		-o-transform: rotate(8deg);
		-ms-transform: rotate(8deg); 
	};
}

.tooltip {
	// padding-bottom: 20px;
	z-index: 0;
}

.tooltip-inner {
	background-color: $orange;
	line-height: 1.4;
	font-size: 15px;
}

.tooltip-arrow{
	border-style: $orange;
	opacity: 0.4;
	// padding-bottom: 15px;
}

a.bubble{
	display: inline-block;
}

.desaturate {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%); 
}

.nameis{
	position:absolute;
	cursor:pointer;
	width:250px;
	height:250px;
	border-radius:50%;
}

.namespacer {
	height:47px;
}

.namespacer .namelist{
	display: none;
	text-align: center;
}

.picknames {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

/*My Events Show Page*/
.myevents {
	margin-top: 30px;
}

.myface img{
	height: 100px;
	width: 100px;
	border: 3px solid #ACC176;
	text-align: center;
}

/*User Sign Up Page Style*/
.form-actions{
	background-color: #F5F5F5;
	border-radius: 5px;
	z-index: -1;
}

/*all media queries*/
@media all and (max-width: 769px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 }

 .nameis{
 	width:250px;
 	height:250px;
 }

 }
}

@media all and (max-width: 480px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 	left:50px; 	
 }

 .nameis{
 	width:250px;
 	height:250px;
 	left:50px;
 }


 }
}

