/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.realname {
	color:red;
}

.wrongname {
}

.wrongclick{
}

.thumbnail {
	background-color: #f7f6f4;
	/* box shadow */
	-moz-box-shadow:    7px 8px 6px 6px #2c1c0d;
  	-webkit-box-shadow: 7px 8px 6px 6px #2c1c0d;
  	box-shadow:         7px 8px 6px -6px #2c1c0d;
	/* bg gradient */ 
	background-image: -ms-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, #F2F0F0 100%);
	background-image: -moz-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, #F2F0F0 100%);
	background-image: -o-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, #F2F0F0 100%);
	background-image: -webkit-gradient(radial, right top, 0, right top, 954, color-stop(0, #FFFFFF), color-stop(1, #F2F0F0));
	background-image: -webkit-radial-gradient(right top, circle farthest-side, #FFFFFF 0%, #F2F0F0 100%);
	background-image: radial-gradient(circle farthest-side at right top, #FFFFFF 0%, #F2F0F0 100%);
}

.imgcontainer{
	width:100%;
	margin:0 auto;
	height:280px;
	margin-top:32px;
	position:relative;
}

.faceis{
	position:absolute;
	cursor:pointer;	
	width:250px;
	height:250px;
	left:55px;
	border-radius:50%;
}
.nameis{
	position:absolute;
	cursor:pointer;
	width:250px;
	height:250px;
	left:55px;
	border-radius:50%;
}

.namespacer {
	height:32px;
}

.namespacer .namelist{
	display: none;
	text-align: center;

}

.picknames {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}


/*all media queries*/
@media all and (max-width: 769px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 }

 .nameis{
 	width:250px;
 	height:250px;
 }

 }
}

@media all and (max-width: 480px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 	left:50px; 	
 }

 .nameis{
 	width:250px;
 	height:250px;
 	left:50px;
 }


 }
}

