/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.realname {
	color:red;
}

h4 {
	display: none;
}

.imgcontainer{
	width:100%;
	margin:0px auto;
	height:300px;
	margin-top:50px;
	position:relative;
	}

.faceis{
	position:absolute;
	cursor:pointer;	
	width:250px;
	height:250px;
	left:55px;
	border-radius:50%;
}
.nameis{
	position:absolute;
	cursor:pointer;
	width:250px;
	height:250px;
	left:55px;
	border-radius:50%;
}

@media all and (max-width: 769px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 }

 .nameis{
 	width:250px;
 	height:250px;
 }

 }
}

@media all and (max-width: 480px) {
 body {
 
 .faceis{
 	width:250px;
 	height:250px;
 	left:50px; 	
 }

 .nameis{
 	width:250px;
 	height:250px;
 	left:50px;
 }


 }
}

