<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">NameFace</a>
    <ul class="nav">
      <!-- if currently in specific controllers, show following nav items -->
      <li><a href="/">Home</a></li>
      <li><%= link_to "NameFace Game", games_url %></li>
      <% if logged_in? %>
          <li><%= link_to "My Game", games_url %></li>
      <% end %>
    </ul>

  </div>
</div>
